:root {
  --bgColor: #f5f5f5;
  --primaryColor: #000000;
  --primaryMediumColor: #f1f1f1;
  --primaryColorLight: #f1f1f1;
  --formColor: #D3D3D3;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(330, 12%, 97%);
  /* Font et typographie */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 5px;
}

.OutletCSS {
  width: 100%;
  background: var(--bgColor);
  height: 100vh;
  padding: 2rem;
  gap: 2rem;
}
.OutletCSS .pageBody {
  flex-basis: 80%;
  background: var(--formColor);
  height: 100%;
  border-radius: var(--borderRadius);
  padding: 2rem;
  overflow-y: auto;
}
.OutletCSS .pageBody .sectionTitle {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.OutletCSS .pageBody .sectionTitle h1 {
  font-size: 1.9rem;
  color: var(--blackColor);
}
.OutletCSS .pageBody .sectionTitle p {
  font-size: var(--h3FontSize);
}
.OutletCSS .pageBody .topSection .video_Summary {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 1.5rem;
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft {
  width: 65%;
  position: relative;
  border-radius: var(--borderRadius);
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: var(--borderRadius);
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText {
  width: 80%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText h4 {
  font-size: 2rem;
  padding: 4rem 2rem 1.5rem;
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns {
  padding: 0 2rem;
  gap: 1rem;
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .link {
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: 2px solid var(--primaryColorLight);
  color: var(--whiteColor);
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .link:hover {
  color: var(--primaryColor);
  background: var(--primaryColorLight);
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .bg {
  background: var(--primaryColorLight);
  color: var(--primaryColor);
}
.OutletCSS .pageBody .topSection .video_Summary .flexLeft .videoText .btns .bg:hover {
  color: var(--whiteColor);
  background: none;
}
.OutletCSS .pageBody .topSection .video_Summary .flexRight {
  height: 100%;
  width: 35%;
  background: var(--primaryColor);
  padding: 1rem;
  border-radius: var(--borderRadius);
}
.OutletCSS .pageBody .topSection .video_Summary .flexRight span {
  font-size: var(--h2FontSize);
  color: var(--primaryColorLight);
  padding-bottom: 1rem;
  display: block;
  font-weight: 600;
}
.OutletCSS .pageBody .topSection .video_Summary .flexRight .singleSal {
  background: var(--primaryMediumColor);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  margin-bottom: 0.5rem;
}
.OutletCSS .pageBody .topSection .video_Summary .flexRight .singleSal span {
  font-size: var(--h3FontSize);
  font-weight: 600;
  padding-bottom: 0.7rem;
}
.OutletCSS .pageBody .topSection .video_Summary .flexRight .singleSal .flex {
  width: 100%;
  justify-content: space-between;
  color: var(--blackColor);
}
.OutletCSS .pageBody .bottomSection {
  padding: 2rem 0;
}
.OutletCSS .pageBody .bottomSection .title {
  display: block;
  font-size: var(--h1FontSize);
  color: var(--blackColor);
  padding-bottom: 1rem;
  font-weight: 600;
}
.OutletCSS .pageBody .bottomSection .vehiclesContainer {
  gap: 1.5rem;
}
.OutletCSS .pageBody .vehicleContainer {
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.OutletCSS .pageBody .singleVehicle {
  width: 100%;
  position: relative;
  border: 2px solid transparent;
  padding-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease;
  background: var(--formColor);
  box-shadow: 0 2px 2px var(--primaryMediumColor);
}
.OutletCSS .pageBody .singleVehicle:hover {
  background: var(--formColor);
  border: 2px dashed var(--formColor);
}
.OutletCSS .pageBody .singleVehicle .imgDiv {
  height: 150px !important;
  background: #000;
  width: 100%;
  overflow: hidden;
}
.OutletCSS .pageBody .singleVehicle .imgDiv img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.OutletCSS .pageBody .singleVehicle .imgDiv:hover img {
  transform: scale(1.1);
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo {
  padding: 0 1rem;
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .vehicleTitle {
  font-size: var(--h2FontSize);
  color: var(--primaryColor);
  font-weight: 600;
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .detailsDiv {
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .detailsDiv .icons {
  color: rgb(245, 176, 79);
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .detailsDiv .icons .icon {
  font-size: var(--normalFontSize);
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .detailsDiv .infor {
  font-size: var(--normalFontSize);
  transform: translateY(-2px);
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo p {
  padding-bottom: 1rem;
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .btn {
  color: var(--primaryColor);
  font-size: 14px;
  border: 2px solid var(--primaryColor);
  transition: 0.3s ease;
  margin-top: 1rem;
  width: -moz-max-content;
  width: max-content;
  background: var(--formColor);
}
.OutletCSS .pageBody .singleVehicle .vehicleInfo .btn:hover {
  background: var(--primaryColor);
  color: var(--formColor);
  border: 2px solid var(--primaryColor);
}
.OutletCSS .pageBody .singleVehicle .btns {
  gap: 1rem;
}
.OutletCSS .pageBody .tableDiv {
  margin-top: 2rem;
  width: 100%;
}
.OutletCSS .pageBody .tableDiv .icon {
  color: var(--primaryColor);
}
.OutletCSS .pageBody .tableDiv .icon:hover {
  color: var(--primaryMediumColor);
}
.OutletCSS .pageBody .tableDiv table {
  width: 100%;
}
.OutletCSS .pageBody .tableDiv table .tableHeaders,
.OutletCSS .pageBody .tableDiv table .tableRows {
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1rem;
  border-radius: var(--borderRadius);
  color: var(--blackColor);
}
.OutletCSS .pageBody .tableDiv table .tableHeaders .icon,
.OutletCSS .pageBody .tableDiv table .tableRows .icon {
  font-size: var(--h1FontSize);
}
.OutletCSS .pageBody .tableDiv table .tableHeaders .icon:hover,
.OutletCSS .pageBody .tableDiv table .tableRows .icon:hover {
  color: var(--primaryColor);
}
.OutletCSS .pageBody .tableDiv table .tableHeaders {
  background: var(--primaryMediumColor);
}
.OutletCSS .pageBody .formDiv {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}
.OutletCSS .pageBody .formDiv .fieldDiv input, .OutletCSS .pageBody .formDiv .fieldDiv select {
  outline: none;
  border: none;
  width: 200px;
  padding: 0.8rem;
  background: var(--primaryColorLight);
  border-radius: var(--borderRadius);
  color: var(--blackColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: var(--normalFontSize);
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.OutletCSS .pageBody .formDiv .fieldDiv input::-moz-placeholder, .OutletCSS .pageBody .formDiv .fieldDiv select::-moz-placeholder {
  font-size: var(--smallFontSize);
}
.OutletCSS .pageBody .formDiv .fieldDiv input::placeholder, .OutletCSS .pageBody .formDiv .fieldDiv select::placeholder {
  font-size: var(--smallFontSize);
}
.OutletCSS .pageBody .formDiv .fieldDiv textarea {
  height: 100px;
  width: 100%;
  padding: 0.8rem;
  background: var(--primaryColorLight);
  border-radius: var(--borderRadius);
  color: var(--blackColor);
  outline: none;
  border: none;
}
.OutletCSS .pageBody .formDiv .fieldDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: var(--normalFontSize);
  padding: 0.5rem 0;
  display: block;
}
.OutletCSS .pageBody .formDiv .btn {
  margin-top: 6.5rem;
  text-align: center;
  justify-content: center;
  transform: translateY(-65px);
}
.OutletCSS .pageBody .formDiv .addCarBtn,
.OutletCSS .pageBody .formDiv .editCarBtn {
  text-align: center;
  justify-content: center;
  transform: translateY(30px);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
  background: var(--primaryColor);
}
.OutletCSS .pageBody .formDiv .addCarBtn:hover,
.OutletCSS .pageBody .formDiv .editCarBtn:hover {
  background: var(--inputColor);
  color: var(--primaryColor);
  transition: 0.3s ease;
}
.OutletCSS .pageBody .CarDetails .imageDiv {
  height: 100%;
  max-height: 200px;
  background: #000;
  border-radius: var(--borderRadius);
  overflow: hidden;
  position: relative;
}
.OutletCSS .pageBody .CarDetails .imageDiv .imgText {
  position: absolute;
  background: rgba(0, 0, 0, 0.4352941176);
  z-index: 4;
  height: 100%;
  width: 100%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.OutletCSS .pageBody .CarDetails .imageDiv .imgText h3 {
  color: var(--whiteColor);
  font-size: var(--biggestFontSize);
}
.OutletCSS .pageBody .CarDetails .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.OutletCSS .pageBody .CarDetails .detailsInfo .title {
  display: block;
  padding: 1rem 0;
  color: var(--primaryColor);
  font-size: var(--h2FontSize);
  font-weight: 600;
}
.OutletCSS .pageBody .CarDetails .detailsInfo p {
  color: var(--blackColor);
  font-size: var(--normalFontSize);
  line-height: var(--h1FontSize);
}
.OutletCSS .pageBody .CarDetails .detailsInfo .specs {
  padding: 1rem 0;
  gap: 0.5rem;
}
.OutletCSS .pageBody .CarDetails .detailsInfo .specs span {
  gap: 0.8rem;
  color: var(--blackColor);
}
.OutletCSS .pageBody .CarDetails .detailsInfo .specs span .icon {
  font-size: var(--h1FontSize);
}
.OutletCSS .pageBody .CarDetails .detailsInfo .specs span small {
  font-size: var(--h2FontSize);
}
.OutletCSS .pageBody .CarDetails .detailsInfo .actionButtons {
  gap: 1rem;
  margin-top: 1rem;
}
.OutletCSS .pageBody .CarDetails .detailsInfo .actionButtons .price {
  padding: 0.7rem;
  border-radius: var(--borderRadius);
  border: 1.5px dashed var(--primaryColor);
  color: var(--primaryColor);
  font-size: var(--h2FontSize);
  font-weight: 600;
}
.OutletCSS .pageBody .CarDetails .detailsInfo .actionButtons .btn {
  font-size: var(--h3FontSize);
  padding: 0.9rem 1.2rem;
}
.OutletCSS .pageBody .detailContainer .topCard {
  background: var(--primaryMediumColor);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1.5rem;
}
.OutletCSS .pageBody .detailContainer .topCard span {
  color: var(--blackColor);
  font-size: 1.3rem;
  font-weight: 600;
}
.OutletCSS .pageBody .detailContainer .guestDetails .flex {
  justify-content: space-between;
  padding: 0.3rem;
  border-bottom: 2px dashed var(--primaryMediumColor);
}
.OutletCSS .pageBody .detailContainer .guestDetails .flex .title {
  color: var(--blackColor);
  font-weight: 600;
  font-size: var(--h3FontSize);
}/*# sourceMappingURL=Dashboard.css.map */