

:root{
  --bgColor: #f5f5f5;
  --primaryColor: #000000;
  --primaryColorLight: #fbf0eb;
  --formColor: #D3D3D3;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(330, 12%, 97%);

  /* Font et Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 5px;
}

.home{
  height: 90vh;
  width: 100%;
  padding: 5rem 1.5rem;
  background: linear-gradient(rgba(0,0,1,0.42), rgba(0, 0, 1, 0.549)), url('../../../assets/pexels-test.jpg');
  background-position: center;
  object-fit: cover;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  row-gap: 3rem;

  .spanText{
    color: white;
    font-weight: 500;
  }

  .homeTitle{
    color: white;
    padding: 2rem 0;
    font-size: var(--biggestFontSize);

    strong{
      font-weight: 800;
    }
  }

  .btn{
    background: transparent;
    border: 2px solid var(--whiteColor);
    color: var(--whiteColor);
    font-size: var(--h3FontSize);
    transition: .3s;
    width: max-content;
    &:hover{
      background: var(--formColor);
      color: var(--primaryColor);
      border: 2px solid var(--whiteColor);
    }

  }
}

//  MEDIA QUERIES
@media screen and (min-width:690px){
  .home{

    .homeText{
      transform: translateX(5rem);
    }
    .spanText{
      font-weight: 600;
      font-size: 20px;
    }

    .homeTitle{
      color: white;
      padding: 2rem 0;
      font-size: 45px;
    }

    .btn{
      border: 2px solid white;
      color: white;
      font-size: 15px;
      transition: .3s;
    }
  }
}

@media screen and (min-width:840px){
.home{
  .homeText{
    transform: translateX(10rem);
  }
}
}

@media screen and (min-width:1240px){
  .home{
    .homeText{
      transform: translateX(20rem);

      .spanText{
        font-size: 25px;
      }

      .homeTitle{
        font-size: 70px;
      }

      .btn{
        font-size: 22px;

      }
    }
  }
}