:root {
  --bgColor: #f5f5f5;
  --primaryColor: #000000;
  --primaryColorLight: #f1f1f1;
  --formColor: #D3D3D3;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(330, 12%, 97%);

  /* Font et Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 5px;
}

.vehicles {
  .secContainer {
    .vehicleContainer {
      padding-bottom: 2rem;
      gap: 1rem;
      align-items: flex-start;

      .singleVehicle {
        width: 100%;
        position: relative;
        border: 2px dashed var(--formColor);
        padding-bottom: 1rem;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.4s ease;

        &:hover {
          background: var(--formColor);
          border: 2px dashed var(--formColor);
        }

        .imgDiv {
          height: 210px !important;
          background: #000;
          width: 100%;
          overflow: hidden;

          img {
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in-out;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }

        .vehicleInfo {
          padding: 0 1rem;

          .vehicleTitle {
            font-size: var(--h2FontSize);
            color: var(--primaryColor);
            font-weight: 600;
          }

          .detailsDiv {
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 0;

            .icons {
              color: rgb(245, 176, 79);

              .icon {
                font-size: var(--normalFontSize);
              }
            }

            .infor {
              font-size: var(--normalFontSize);
              transform: translateY(-2px);
            }
          }

          p {
            padding-bottom: 1rem;
          }

          .btn {
            color: var(--primaryColor);
            font-size: 14px;
            border: 2px solid var(--formColor);
            transition: 0.3s ease;
            margin-top: 1rem;
            width: max-content;
            background: var(--formColor);

            &:hover {
              background: var(--formColor);
              color: var(--primaryColor);
              border: 2px solid var(--primaryColor);
            }
          }
        }

        .price {
          position: absolute;
          padding: 10px;
          background: var(--primaryColor);
          top: 0;
          right: 0;
          color: white;
          font-size: var(--h3FontSize);
          font-weight: 800;
        }
      }
    }
  }
}

//MEDIA QUERIES
@media screen and (min-width: 580px) {
  .vehicles {
    .secContainer {
      .vehicleContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        .singleVehicle {
          .imgDiv {
            height: 100%;
            width: 100%;
          }
          .vehicleInfo {
            padding: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .vehicles {
    .secContainer {
      .vehicleContainer {
        grid-template-columns: repeat(3, 1fr);
        .singleVehicle {
          .imgDiv {
            height: 100%;
            width: 100%;
          }
          .vehicleInfo {
            padding: 1rem;

            .btn {
              &:hover {
                background: var(--primaryColor);
                color: var(--whiteColor);
                border: 2px solid var(--primaryColor);
              }
            }
          }

          &:nth-child(even) {
            background: var(--formColor);
            &:hover {
              background: none;
              border: 2px dashed var(--formColor);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1054px) {
  .vehicles {
    .secContainer {
      .vehicleContainer {
        .singleVehicle {
          .vehicleInfo {
            .vehicleTitle {
              font-size: var(--h2FontSize);
            }
            .stars_review {
              .custReview {
                font-size: var(--normalFontSize);
                transform: translateY(-2.5px);
              }
            }

            p {
              font-size: var(--normalFontSize);
              line-height: 1.5rem;
            }

            .btn {
              font-size: var(--h3FontSize);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1496px) {
  .vehicles {
    .secContainer {
      .vehicleContainer {
        .singleVehicle {
          .vehicleInfo {
            .vehicleTitle {
              font-size: 20px;
            }

            p {
              font-size: 15px;
            }

            .btn {
              font-size: 15px;
              width: max-content;
            }
          }

          .price {
            font-size: 25px;
          }
        }
      }
    }
  }
}
