:root {
  --bgColor: #f5f5f5;
  --primaryColor: #000000;
  --primaryColorLight: #fbf0eb;
  --formColor: #D3D3D3;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(330, 12%, 97%);
  /* Font et Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 5px;
}

.vehicles .secContainer .vehicleContainer {
  padding-bottom: 2rem;
  gap: 1rem;
  align-items: flex-start;
}
.vehicles .secContainer .vehicleContainer .singleVehicle {
  width: 100%;
  position: relative;
  border: 2px dashed var(--formColor);
  padding-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease;
}
.vehicles .secContainer .vehicleContainer .singleVehicle:hover {
  background: var(--formColor);
  border: 2px dashed var(--formColor);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .imgDiv {
  height: 210px !important;
  background: #000;
  width: 100%;
  overflow: hidden;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .imgDiv img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .imgDiv:hover img {
  transform: scale(1.1);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo {
  padding: 0 1rem;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .vehicleTitle {
  font-size: var(--h2FontSize);
  color: var(--primaryColor);
  font-weight: 600;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .detailsDiv {
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .detailsDiv .icons {
  color: rgb(245, 176, 79);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .detailsDiv .icons .icon {
  font-size: var(--normalFontSize);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .detailsDiv .infor {
  font-size: var(--normalFontSize);
  transform: translateY(-2px);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo p {
  padding-bottom: 1rem;
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .btn {
  color: var(--primaryColor);
  font-size: 14px;
  border: 2px solid var(--formColor);
  transition: 0.3s ease;
  margin-top: 1rem;
  width: -moz-max-content;
  width: max-content;
  background: var(--formColor);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .btn:hover {
  background: var(--formColor);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
.vehicles .secContainer .vehicleContainer .singleVehicle .price {
  position: absolute;
  padding: 10px;
  background: var(--primaryColor);
  top: 0;
  right: 0;
  color: white;
  font-size: var(--h3FontSize);
  font-weight: 800;
}

@media screen and (min-width: 580px) {
  .vehicles .secContainer .vehicleContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .imgDiv {
    height: 100%;
    width: 100%;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo {
    padding: 1rem;
  }
}
@media screen and (min-width: 840px) {
  .vehicles .secContainer .vehicleContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .imgDiv {
    height: 100%;
    width: 100%;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo {
    padding: 1rem;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .btn:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
    border: 2px solid var(--primaryColor);
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle:nth-child(even) {
    background: var(--formColor);
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle:nth-child(even):hover {
    background: none;
    border: 2px dashed var(--formColor);
  }
}
@media screen and (min-width: 1054px) {
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .vehicleTitle {
    font-size: var(--h2FontSize);
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .stars_review .custReview {
    font-size: var(--normalFontSize);
    transform: translateY(-2.5px);
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo p {
    font-size: var(--normalFontSize);
    line-height: 1.5rem;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .btn {
    font-size: var(--h3FontSize);
  }
}
@media screen and (min-width: 1496px) {
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .vehicleTitle {
    font-size: 20px;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo p {
    font-size: 15px;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .vehicleInfo .btn {
    font-size: 15px;
    width: -moz-max-content;
    width: max-content;
  }
  .vehicles .secContainer .vehicleContainer .singleVehicle .price {
    font-size: 25px;
  }
}/*# sourceMappingURL=Vehicle.css.map */